:root {
    --main-bg-color: #0A0A0A;
    --main-color: #E0E0E0;
    --sec-bg-color: #121212;
    --sec-color: #626262;
    --thr-bg-color: #353535;
    --border-color: #282828;
    --btn-bg-color: #191919;
    --border-radius: 10px;

    background-color: var(--main-bg-color);
    color: var(--main-color);
    overflow-x: hidden;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif !important;
    line-height: 1.5;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input[type="time"]::-webkit-calendar-picker-indicator { display: none; } 

a {
    text-decoration: none;
    color: var(--main-color);
}

button {
    transition: ease-in-out all 0.3s;
    scale: 1;
}

button:hover {
    scale: 0.95;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px var(--main-bg-color) inset;
    -webkit-text-fill-color: var(--main-color);
    transition: background-color 5000s ease-in-out 0s;
  }
  
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px var(--main-bg-color) inset;
    -webkit-text-fill-color: var(--main-color);
    transition: background-color 5000s ease-in-out 0s;
  }
  

input[type="date"]:focus::before,
input[type="date"]:not(:placeholder-shown)::before {
  content: "";
}

p {
    font-size: 16px;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none; 
    scrollbar-width: none;  
    margin: 0;
    padding: 0;
  }

  .leftLabel {
    animation: blink 1.5s ease-in-out infinite;
  }

  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }